html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, input, form, p{
    text-align: center;
    display: block;
    margin: auto;
}

input {
    width: 25%;
}

#memory_trainer {
    padding: 50px;
}

#item_display {
    text-align: center;
}
