html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, form, p{
    text-align: center;
    display: block;
    margin: auto;
}

#memory_trainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
