/* being deprecated */
/* :root {
    --large-text-size: 40px;
    --enormous-text-size: 80px;
    --quit-dark-red: rgb(239, 41, 41);
    --quit-light-red: rgb(255, 70, 70);
    --selection-dark-blue: rgb(60, 195, 240);
    --selection-light-blue: rgb(95, 214, 253);
    --standard-border-thickness: 3px;
    --standard-margin: 15px;
    --standard-text-size: 30px;
    --title-size: 50px;
} */

/* .standard_text {
    font-size: var(--standard-text-size);
}

.standard_border {
    border-radius: 50px;
    border: solid black var(--standard-border-thickness);
} */

/* .base_button {
    composes: standard_border standard_text;
    cursor: pointer;
    height: 75px;
    width: 125px;
} */
/*
.start_button {
    composes: base_button;
    background-color: var(--selection-light-blue);
}

.start_button:hover {
    background-color: var(--selection-dark-blue);
}

.quit_button {
    composes: base_button;
    background-color: var(--quit-light-red);
}

.nested_button {
    composes: base_button;
    border: 1px solid red;
    background-color: var(--selection-light-blue);
    height: 100%;
}

.nested_button:hover {
    background-color: var(--selection-dark-blue);
}

.quit_button:hover {
    background-color: var(--quit-dark-red);
} */

/* .submit_button {
    composes: base_button;
} */


/* .quiz_list_item {
    composes: standard_border standard_text;
    border-color: var(--selection-light-blue);
    font-size: large;
    margin: var(--standard-margin);
} */

/* .quiz_list_item:hover,
.quiz_list_item:focus-within {
    box-shadow: 0px 00px 10px var(--selection-dark-blue);
    display: inline-block;
} */

/* .response_box {
    composes: standard_border standard_text;
    border-color: lightgray;
    margin: var(--standard-margin);
    width: 100%;
} */

/* .row_layout {
    display: flex;
    flex-direction: row;
} */

/* .column_layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: var(--standard-margin);
} */

/* .training_buttons {
    composes: row_layout;
    justify-content: space-around;
    margin: var(--standard-margin);
    width: 100%;
} */

/* .verdict {
    composes: standard_text;
} */

/* .verdict::before {
    content: '\feff';
} */
