/**
 * Global default styles.
 * Do not use this file to style individual components.
 **/

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

body,
main {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

h1,
h2,
p {
    text-align: center;
    margin: auto;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}
